
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 47px;
    text-align: center;
}

header h1{
    color: #75B79E;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
}

.baralho{
    max-width: 906px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.baralho .card{

    height: 146px;
    width: 117px;
    border-radius: 5px;
    margin-bottom: 34px;
    margin-right: 17px;
    margin-left: 17px;

    position: relative;
}

.face {
    background-color: #A7E9AF;
    background-image: url("Imagens/front 1.png");
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 24px 10px 22px 7px;
    border-radius: 10px;
    border: 1px solid #99CEA8;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
    background-color: rgb(197, 225, 13);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image: none;
    padding: 0px;
  }

  .relogio{
      background-color: forestgreen;
      width: 100px;
      height: 50px;
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid gold;
      border-radius: 25px;

  }

  .relogio p{
      color: palegoldenrod;
      font-size: 24px;
      
  }

@media (max-width: 800px){
    .relogio{
        display: none;
    }

}
  @media (max-width: 335px){
      body{
          flex-direction: column;
      }

      header{
          width: 312px;
          height: 63px;
          flex-wrap: wrap;
      }

      header h1{
        font-size: 36px;
    }

      .baralho{
          flex-direction: column;
      }

      .baralho .card{
          margin-left: 0px;
      }

  }